/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */
html, body { height: 100%;}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
a{
    text-decoration: none;
}