<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of subcategories">
                        <td>{{data != null ? data.id : ''}}</td>
                        <td>{{data != null ? data.name : ''}}</td>
                        <td>{{data != null ? data.parent.name : ''}}</td>
                        <td>
                            <button class="btn btn-outline-secondary"> <i class="fa fa-edit"></i></button>
                            <button class="btn btn-outline-danger mx-1"> <i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="ball-triangle-path" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Please Wait. </p>
</ngx-spinner>