<!-- <div class="modal-header">
  <h2 class="modal-title" id="exampleModalLabel">Kindly Rate us</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <ngb-rating [(rate)]="rating">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
    </ng-template>
  </ngb-rating>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="PostRate()" (click)="modalRef.close()">Save</button>
</div> -->
<!-- <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
  Close
</button> -->


<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template> -->





  <h1 mat-dialog-title>Dialog with elements</h1>
  <ngb-rating [(rate)]="rating">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
    </ng-template>
  </ngb-rating>
<!-- <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div> -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="PostRate()" style="float: right;">Save</button>
</div>